// Variables

// Colors
$brand-color: #6CD0FF;
// Text Colors
$tc-dark: black;
$tc-light: white;

// Fonts
$body-font: 'Noto Sans JP', sans-serif;
$title-font: 'Raleway', sans-serif;
// Typographic Defualts
$line-height: 1.4;