// Contact
.hero-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/contact/banner.jpg');
}

#success_message{ display: none;}

.well {
    background-color: white !important;
    border: none !important;
}

.contact-wrapper {
    a {
        color: white;
    }

    .container .intro {
        text-align: center;
    }


}

