.hero-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/contact/banner.jpg');
}

.intro {

    p {
        padding: 10px;
        margin-bottom: 5px;
    }

    @media (min-width: $mobileMQ) {
        text-align: center;
    } 

    @media (min-width: $tabletMQ){
        text-align: center;
    }

}

.contact-form-content {
    @media (min-width: 800px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}

.contact-form-name,
.contact-form-email,
.contact-form-date,
.contact-form-service,
.contact-form-guests,
.contact-form-type { 
    margin-bottom: 20px;
    padding: 5px;

    input {

        @media (min-width: 800px){
            display: block;
        }

        font-family: $body-font;
        padding: 10px;
        font-size: 16px;
        margin-top: 5px;
        border: 0;
        box-shadow: 0 0 15px 4px #7070704a;
        width: 100%;
    }
}

.contact-form-type {
    select {
        font-family: $body-font;
        padding: 10px;
        font-size: 16px;
        margin-top: 5px;
        border: 0;
        box-shadow: 0 0 15px 4px #7070704a;
        width: 100%;
        border-radius: 3px;
    }
}

.contact-form-message {
    margin-bottom: 20px;

    textarea {
        font-family: $body-font;
        padding: 10px;
        font-size: 16px;
        margin-top: 5px;
        border: 0;
        box-shadow: 0 0 15px 4px #7070704a;
        width: 100%;
    }

}