// Homepage
.hero-homepage {
    background-image: $blackOverlay, url('/images/homepage/banner.jpg');

    .hero-inner h1 {
        padding: 48px 64px;;
        font-size: 5em;
    }
    }



.upcoming-events-intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upcoming-events-grid {
    align-items: center;
}


.event {
    background-color: #fff;
    border-radius: 2px;
    height: 350px;
    margin: 1rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .caption {
        margin-top: 22px;
        text-align: center;
        line-height: 1.5em;
        width: 100%;
    }

    .date {
        position: absolute;
        bottom: 25%;
        left: 25%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        width: 50%;
        color: white;
        font-family: $title-font; 
        background-color: $colorlight;
    }

  }


// Desktop view
@media (min-width: 1000px) {
    // Upcoming events section
    .upcoming-events-grid {
        display: flex;
        flex-direction: row;
        width: 120%;
        margin-left: auto;
        margin-left: -87px;
        margin-bottom: 30px;
    }

    .date {
        margin-left: 48px;
    }
}

@media (min-width: 1920px) {
    // Upcoming events section
    .upcoming-events-grid {
        display: flex;
        flex-direction: row;
        width: 75%;
        margin-left: 210px;
        margin-bottom: 30px;
    }

    .date {
        margin-left: 68px;
    }
}
