// Pricing Background
.hero-pricing {
    background-image: $blackOverlay, url('../images/pricing/pricing-banner.jpg');
}

.pricing-content-wrap {
    text-align: center;
    h2 {
        padding: 18px 0;
    }

    .intro p {
        margin-bottom: 36px;
    }
}


.pricing {
    
    @media (min-width: 800px){
        display: flex;
    }


    .pricing-box {
        border: 3px solid #6cd0ffb7;
        border-radius: 4px;
        font-family: $title-font;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 400px;

        @media (min-width: 800px){
            width: 30%;
        }


        
        h2{
            color: $colordark;
            padding-top: 18px;
        }
    
        .price{
            font-size: 3em;
            color: $colorlight;
            // border-bottom: 5px solid 
            padding-bottom: 18px;
        }
        .dollar-sign{
            display: inline-block;
            font-size: 0.5em;
            position: relative;
            bottom: 0.7em;
        }
    
        .description {
            display: none;
            @media (min-width: 1100px){
                display: block;
                padding: 0 28px 28px;
            }
        }
    
        hr {
            width: 90%;
            background-color: $colorlight;
            border: none;
            height: 1px;
            margin: 0 auto;
        }
    
        p {
            line-height: 2;
        }
    
        .list {
            padding: 18px 0;
            
            p {
                line-height: 3;
                @media (min-width: 500px){
                    line-height: 4;
                }
            }
        }
    

    }

}






