// Homepage
.upcoming-events-grid {
    margin-top: 15px;
}

.event-dubhaus {
    border-radius: 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    text-align: center;
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.event-dee {
    border-radius: 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    text-align: center;
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.event-gnaw {
    border-radius: 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    text-align: center;
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.event-pop {
    border-radius: 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    text-align: center;
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.date {
    background-color: #0E87CC;
}