// Main Navigation Styles

// Header Style

header {
    color: white;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.479);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    z-index: 999;
}

.top-bar img{
    width: 2.5em;
}

.nav-button {
    font-size: 2.3em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    display: block;
    height: 50px;
    line-height: 1;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

@media (min-width: 700px){
    header {
        display: block;
        width: 100%;
        justify-content: space-between;
        // position: relative;
        display: flex;

        img {
            width: 10%;
            // position: absolute;
            align-items: center;
            left: 16px;
            top: 32px;
        }

        .btn-menu {
            display: none;
        }
    }
    
    nav {
        width: 60%;
        display: inline-block;
        background-color: transparent;
        visibility: visible;
        height: auto;
        // position: absolute;
    }

.hamburger-icon {
    display: block;
    height: 40px;
}

.top-bar nav {
    display: none;
}

.show .top-bar nav {
    width: 100%;
    display: block;
}

.top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-bar nav a {
    padding: 0 20px;;
    line-height: 50px;
    font-size: 1.2em;
    transition: background-color 0.5s ease;
    display: block;
    text-align: center;
}

.top-bar nav a:hover,
.top-bar nav a:active,
.top-bar nav a:focus {
    background-color: rgba(255, 187, 0, 0.336);
}
}