.phone {
  display: flex;
  align-items: center;
  padding-bottom: 16px;

  .phone-icon {
    content: url('../images/icons/phone-icon.png');
    display: block;
  }

  .phone-text {
    margin-left: 18px;
  }
}

.email {
  display: flex;
  align-items: center;
  padding-bottom: 16px;

  .email-icon {
    content: url('../images/icons/email-icon.png');
    display: block;
  }

  .email-text {
    margin-left: 18px;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;

  .twitter-icon {
    content: url('../images/icons/twitter-icon.png');
    display: block;
  }
  
  .facebook-icon {
    content: url('../images/icons/facebook-icon.png');
    display: block;
  }
  
  .instagram-icon {
    content: url('../images/icons/instagram-icon.png');
    display: block;
  }
  
  .youtube-icon {
    content: url('../images/icons/youtube-icon.png');
    display: block;
  }
  
}

.phone-icon,
.email-icon,
.twitter-icon,
.facebook-icon,
.instagram-icon,
.youtube-icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
}





