// Variables

// Colors
$colorlight: #6CD0FF;
$colordark: #1A488E;
$colorlightalt: #75B3D0;
$colordarkalt: #75B3D0;
$dark: black;
$light: white;

// Fonts
$title-font: 'Noto Sans JP', sans-serif;
$body-font: 'Raleway', sans-serif;
// Typographic Defualts
$line-height: 1.4;

// Breakpoints
$mobileMQ: 320px;
$tabletMQ: 600px;
$desktopMQ: 800px;

// Image overlays
$blueOverlay: linear-gradient(rgba(44, 188, 255, 0.5),rgba(59, 193, 255, 0.5));
$blackOverlay: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
