// Variables

// Colors
$colorlight: #6CD0FF;
$colordark: #1A488E;
$colorlightalt: #75B3D0;
$colordarkalt: #75B3D0;
$dark: black;
$light: white;

// Fonts
$title-font: 'Noto Sans JP', sans-serif;
$body-font: 'Raleway', sans-serif;
// Typographic Defualts
$line-height: 1.4;

